body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(248, 247, 247);
}

h4 {
    font-weight: 600;
    font-size: larger;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    overflow: hidden;
}

nav img {
    margin-left: 35px;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    font-size: larger;
    color: black;
    padding: 40px;
}

nav a:hover {
    background-color: rgb(223, 223, 223);
}
/* END of Navbar */

/* Search Bar */
.search-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 62px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search-bar input {
    margin: 2rem;
    padding: 5px;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    background-color: rgb(236, 236, 236);
}

.search-bar input:hover {
    background-color: rgb(221, 221, 221);
}
/* END of Search Bar */


.job-container {
    font-size: large;
    display: flex;
    margin: 16px 30px;
}

/* Detail Checkbox Search */

.search-checkbox {
    height: 100vh;
    width: 230px;
    padding: 16px;
    margin-left: 50px;
}

.search-checkbox span {
    font-size: medium;
    color: grey;
}

.search-checkbox label {
    font-size: smaller;
}

.search-checkbox hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* END of Detail Search */


.jobcards {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    margin-left: 30px;
}

.jobcards h4 {
    margin-left: 30px;
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
}



/* Job Cards */

.card-containers .card {
    margin: 30px;
    width: 18rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


.list-group-item {
    font-size: medium;
}

.card img {
    height: 170px;
    padding: 1rem;
    object-fit: contain;
}

.card a {
    color: #fcfbff;
    font-size: small;
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    text-align: center;
}

.card a:hover {
    color: white;
    background-color: rgb(92, 25, 155);
}

.card-body{
    background-color: #fcfbff;
    height: 65px;
    display: flex;
    align-items: center;
}




/* END of Job Cards */
