@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
	padding: 0px;
	margin: 0px;
}

.loginbody {
	background-color: blueviolet;
	font-family: "Poppins", sans-serif;
}

.input-form {
	width: 81%;
	padding: 30px 28px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

label {
	font-weight: 500;
}

.btn-login:hover {
	color: #fff;
	background-color: #360936;
}

.btn-login {
	width: 100%;
	background-color: blueviolet;
	color: #fff;
	padding: 6px 12px;
	border-radius: 8px;
	border: none;
}

.text-bg {
	color: blueviolet;
}

.form-text a {
	text-decoration: none;
}



/* List Page Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(248, 247, 247);
}

h4 {
    font-weight: 600;
    font-size: larger;
}


/* Search Bar */
.search-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 45px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search-bar input, select {
    margin: 3rem;
    padding: 5px;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    background-color: rgb(236, 236, 236);
}

.search-bar input:hover {
    background-color: rgb(221, 221, 221);
}
/* END of Search Bar */


.job-container {
    font-size: large;
    display: flex;
    margin: 16px 30px;
}


/* Detail Checkbox Search */
.search-checkbox {
    height: 100vh;
    width: 230px;
    padding: 16px;
    margin-left: 50px;
}

.search-checkbox span {
    font-size: medium;
    color: grey;
}

.search-checkbox label {
    font-size: smaller;
}

.search-checkbox hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#clearsearch-button {
    margin: 2rem;
}
/* END of Detail Search */


.jobcards {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    margin-left: 30px;
}

.jobcards h4 {
    margin-left: 30px;
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
}



/* Job Cards */

.card-containers .card {
    margin: 20px;
    width: 18rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


.list-group-item {
    font-size: medium;
}

.card img {
    height: 170px;
    padding: 1rem;
    object-fit: contain;
}

.card a {
    color: #fcfbff;
    font-size: small;
    text-decoration: none;
    background-color: rgb(60, 96, 164);
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    text-align: center;
}

.card a:hover {
    color: white;
    background-color: rgb(30, 55, 116);
}

.card-body{
    background-color: #fcfbff;
    height: 65px;
    display: flex;
    align-items: center;
}


/* END of Job Cards */
